html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: #000000;
}

body, div, h1, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /*font-family: sans-serif;*/
}

canvas {
  display: block;
  z-index: 0;
  margin: auto;
  position: absolute;
  left: calc(50% - 500px);
  top: calc(50% - 300px);
}

h1 {
  padding-top: 20px;
}

li {
  margin: 5px 10px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.modal-background {
  background: rgba(0, 0, 0, 0.3);
  transition: 1.5s background;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.modal-window {
  text-align: center;
  background: #D1D1D1;
  height: 340;
  width: 400;
  z-index: 11;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 170px);
  opacity: 1;
  transition: 1.5s opacity;
}

.vanish {
  opacity: 0;
}

.title-image {
  position: absolute;
  z-index: 11;
  -webkit-filter: drop-shadow(2px 2px 0px #000000);
  filter: drop-shadow(2px 2px 0px #000000);
  top: calc(50% - 180px);
  left: -1000px;
}
.title-sword-image {
  position: absolute;
  z-index: 10;
  top: -1000px;
  left: calc(50% - 160px);
}
.title-image.appear {
  left: calc(50% - 310px);
  transition: 0.7s left;
}
.title-sword-image.appear {
  top: calc(50% - 300px);
  transform: rotate(180deg);
  transition: 0.7s top;
}
.title-image.float {
  left: calc(50% - 280px);
  transition: 1.5s left;
}
.title-image.leave {
  left: 150%;
  transition: 0.7s left;
}
.title-sword-image.leave {
  opacity: 0;
  transform: rotate(360deg) scale(4);
  transition: 2s opacity, 2s transform;
}

.modal-window.title-seq-wd {
  opacity: 0;
}

.modal-background.title-seq-bg {
  background: rgba(0, 0, 0, 0.85);
}

/* Player controls */

.controls {
  color: #ffffff;
  text-align: center;
  font-family: serif;
  position: absolute;
  max-width: 200px;
}

.controls li {
  float: left;
  background-color: #000000;
  border-radius: 15%;
  font-size: 14px;
  width: 60px;
  margin: 1px;
}

.controls li:hover {
  background-color: #421218;
  cursor: pointer;
}
.controls h2 {
  margin: 0;
  font-size: 34px;
}

.player-one {
  top: calc(50% + 180px);
  left: calc(50% - 494px);
}

.player-two {
  top: calc(50% + 180px);
  right: calc(50% - 508px);
}

.ai-toggle {
  top: calc(50% + 255px);
  left: calc(50% - 50px);
}

.ai-toggle li {
  background-color: #4a4a4a;
  width: 40px;
  margin-right: 20px;
}

.ai-toggle h2 {
  font-size: 20px;
}

.pronounce {
  z-index: 10;
}

.links {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.links a {
  float: left;
  margin: 10px 20px;
  text-decoration: none;
}

.links p {
  color: black;
  margin: 15px 0 0 0;
}

.links a:hover {
  cursor:pointer;
}
